* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-weight: bold;
}

.container-fluid.home {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 200px;
  background: url('/intro4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid.home h1 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  font-size: 5rem;
}

.container-fluid.home h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}

.container-fluid.home h4 {
  color: #fff;
  text-shadow: 0 0 5px #000;
}

@media (max-width: 600px) {
  .container-fluid.home {
    padding: 0 30px;
  }
}